<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WHOLESELLERS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<style>
    body{
        background-image: url('static/logo.png');
        background-repeat:no-repeat;
        background-position: center 0%;
    }
</style>
<body>
  {% macro catch(on_exception) %}
  {{ handle_catch(caller, on_exception) }}
  {% endmacro %}
    <h1 style = "text-align:center;background-color:black;color:white;opacity:0.5">Ashish Trading Company</h1>
    <h3 class="text-center"><u>Wholeseller Accounts</u></h3>
  <div class="row">
    <div class="col-2">
      <button class=" mx-4 btn btn-primary" data-bs-toggle="modal" data-bs-target="#new_wholeseller"> Add New Wholeseller</button>

    </div>
    <div class="col-3">
      <input class="form-control mx-4" type="search" placeholder="Search" aria-label="Search" style='width:100%' id="search_wuser">

    </div>
  </div>
    <!-- <a  href = "/settings" target = "_blank" style ="float:right" class=" mx-4 btn btn-primary" > Settings</a> -->
    <div class="modal fade" id="new_wholeseller" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New Wholeseller</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/new_wholeseller" method = "post">
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Wholeseller Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="wholeseller_name" placeholder="Name of the Wholeseller">
                  </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Add New</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    <div class="mx-4 row">
      {% call catch('')%}
        {% for item in result.each()%}
        <div>
            <h4 class="users" > >>> <a href="/{{item.key()}}">{{item.val()['name']}}</a> </h4>
        </div>
         
        {% endfor %}
        {% endcall %}
    </div>
    <script>
      document.getElementById("search_wuser").addEventListener('input',(e)=>{
         let val = e.target.value
         all_users = document.getElementsByClassName("users")
         for(let i=0;i<all_users.length;i++){
          if (all_users[i].innerText.toLowerCase().includes(val.toLowerCase())){
            all_users[i].style.display = "block"
          }
          else{
            all_users[i].style.display = "none"
          }
         }
         
      })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>